{% extends 'base/base_base.html' %}

{% block title_block %}
	School Details
{% endblock %}


{% block body_block %}
	<h1>Welcome to School Details Page!</h1>

	{# pk (primary key) is an identifier of object with the name given in views.py in #}
	{# SchoolDetailView where context_object_name = 'school_detail' #}
	<p><a href="{% url 'base:update' pk=school_detail.pk %}">Update</a></p>
	<p><a href="{% url 'base:delete' pk=school_detail.pk %}">Delete</a></p>

	<h2>School details:</h2>
	<p>Name: {{school_detail.name}}</p>
	<p>Principal: {{school_detail.principal}}</p>
	<p>Location: {{school_detail.location}}</p>
	<h3>Students:</h3>
	{% for student in school_detail.students.all %}
		<p>{{student.name}} who is {{student.age}} years old.</p>
	{% endfor %}
{% endblock %}